# for parsing
construct==2.9.44

# blk
git+https://github.com/kotiq/blk@8c92e35

# multiprocessing-logging==0.3.1
multiprocessing-logging@https://github.com/jruere/multiprocessing-logging/archive/refs/tags/v0.3.1.tar.gz

# for command line parsing
click==7.1.2

# for http requests
requests==2.25.1

# validating
typing-extensions
cerberus